body {
  background-position: center;
  background-color: #f4efca;
}
* {
  box-sizing: border-box;
}
.guide-image {
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition:
    transform 0.5s,
    opacity 0.5s;
}
.show {
  transform: translateY(0);
  opacity: 1;
}
